@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.NavBar{
    postiion: absolute;
    width: 1400px;
    height: 76px;
    top: 20px;

}
.logo{
    position: absolute;
    width: 185.34px;
    height: 31.97px;
    left: 143.92px;
    top: 22px;
    }
.Flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    flex-direction: row;
    }
.navlinks{
    /* Product Customers Pr */
    
    position: relative;
    top: calc(50% - 28px/2 - 1px);
    width: 350px;
    height: 28px;
    left: 46.43%;
    right: 28.57%;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;

/* identical to box height, or 200% */

    color: #2F281E;
   }
.list{
    list-style: none;

}
.navlinks li a{
    text-decoration: none;

}
.NavBar{
    /* 01 Navigation */

    position: absolute;
    width: 1400px;
    height: 78px;
    left: 0px;
    top: 20px;
}

.B-look{
    border-radius: 4px;
    background-color: #FF9900;
    border-style: solid;
    font-family: 'Poppins';
    font-weight: 600;
    color: white;
}
.Button-1{
    /* sign up */

    position: absolute;
    left: 81.79%;
    right: 10.36%;
    top: 19.23%;
    bottom: 21.79%;
    border: none;
}
.Button-2{
    /* Sign in */

    position: absolute;
    left: 73.5%;
    right: 19.21%;
    top: 19.23%;
    bottom: 21.79%;
    border-color: lightsteelblue;
    border-width: 1px;
    background-color: white;
    color: black;
}