@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*------------------Buttons------------------*/
.B-look{
    border-radius: 4px;
    background-color: #FF9900;
    color: white;
    border: none;
    }
.B-look:hover{
    background-color: #895201;
    transition-duration: 0.8s;
}
.B-look-alt{
    border-radius: 4px;
    background-color: white;
    border-color: lightsteelblue;
    border-style: solid;
    border-width: 1px;
    color: black;
}
.B-look-alt:hover{
    background-color: lightgray;
    transition-duration: 0.8s;
}
/*-----------Other minor classes-----------------*/
.abs{
    position: absolute;
}
.textlook{
    font-family: 'Poppins', sans-serif;
    font-style: solid;
}
.font-w7{
    font-weight: 700;
}
.font-w6{
    font-weight: 600;
}
.font-w5{
    font-weight: 500;
}
.font-w4{
    font-weight: 400;
}
.font-s16{
    font-size: 16px;
}
.reg-text{
    font-size: 14px;
}
.col-base{
    color: #2F281E;
}
.col-main{
    color: #544837;
}
.title-text{
    font-size: 44px;
    line-height: 54px;
}
.s2-title-text{
    font-size: 36px;
    line-height: 54px;
    text-align: center;
}
.s3-miniheadtext{
    line-height: 26px;
}
.s2-card-head{
    font-size: 22px;
    line-height: 33px;
}
.vid-text{
    line-height: 24px;
    color: #FF9900;
    text-decoration: underline;
}
.s2-card-text{
    line-height: 26px;
}
.s3-starttext{
    line-height: 24px;
}
.reg-text-alt{
    font-size: 18px;
    line-height: 28px;
}
.s6-foottext{
    line-height: 35px;
}
.list{
    list-style: none;
}
.Flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    flex-direction: row;
}
.Flex-Eve{
    justify-content: space-evenly;
    margin-top: 50px;
}
.marg{
    margin-top: 10px;
}
/*------------------Navbar items--------------------*/
.NavBar{
    width: 1400px;
    height: 76px;
    left: 0px;
    top: 20px;
}
.logo{
    width: 185.34px;
    height: 31.97px;
    left: 143.92px;
    top: 22px;
    }
.navlinks{
    position: relative;
    top: calc(50% - 28px/2 - 1px);
    width: 350px;
    height: 28px;
    left: 46.43%;
    right: 28.57%;

    line-height: 28px;
   }
.navlinks li a{
    text-decoration: none;
}
.Button-1{
    left: 81.79%;
    right: 10.36%;
    top: 19.23%;
    bottom: 21.79%;
}
.Button-2{
    left: 73.5%;
    right: 19.21%;
    top: 19.23%;
    bottom: 21.79%;
}
/*-------------------Main body------------------------*/
.img-jumpers{
    width: 605px;
    height: 496px;
    left: 666px;
    top: 128px;    
}
.textbox{
    width: 518px;
    height: 331px;
    left: 145px;
    top: 211px;
}
.textboxlower{
    width: 458px;
    height: 95px;
    left: 145px;
    top: 319px;
}
.buttonsLocation{
    left: 145px;
    top: 489px;
}
.buttonSize{
    width: 175px;
    height: 53px;
}
.textbybutton{
    width: 161px;
    height: 23px;
    left: 330px;
    top: 504px;
}
.tribybutton{
    width: 161px;
    height: 23px;
    left: 370px;
    top: 504px;
}
.triangle{/* drawing of triangle*/
    left: 10.87%;
    top: 6.52%;
    right: 76.71%;
    bottom: 19.57%;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 16px solid #FF9900;
    border-radius: 3px;
    }
/*----------------The second page-------------------*/
.segment-02{
    width: 2211px;
    height: 543px;
    left: -406px;
    top: 734px;
}
.s2-headtext{
    height: 108px;  
    left: 38.22%;
    right: 37.4%;
    top: calc(50% - 108px/2 - 217.5px);
}
.s2-alts{
    width: 1095px;
    height: 204px;
    left: 567px;
    top: 85px;
}
.s2-button{
    left: 46.45%;
    right: 45.64%;
    top: 73.66%;
    bottom: 16.57%;
}
/*-------------------------Segment 03---------------------------*/
.segment-03{
    width: 1110px;
    height: 574px;
    left: 145px;
    top: 1397px;
}
.s3-img{
    left: 620px;
}
.s3-textblock{
    width: 486px;
    height: 531px;
    left: 0px;
    top: 26px;
}
.s3-text-basic{
    top: 38px;
    left: 0px;
}
.s3-box-loc-size{
    width: 486px;
    height: 86px;
    position: relative;
}
/*-------------------------------------New flex groups---------------------------------*/
.flex-column{
    display: flex;
    flex-direction: column;
}
.Flexlist{
    top: 0px;
    height: 540px;
    width: 486px;
    justify-content: space-evenly;
}
.Flexlist-2{
    height: 446px;
    width: 486px;
    justify-content: space-between;
}
.Flexlist-3{
    height: 206px;
    width: 240px;
    justify-content: space-evenly;
}
/*-----------------------------------------segement 04--------------------------*/
.segment-04{
    width: 1121px;
    height: 521px;
    left: 144px;
    top: 2072px;
}
.s4-textblock{
    top: 49px;
    left: 631px;
    width: 427;
    height: 486px;
}
.s4-img-text{
    top: -26px;
    left: 65px;
    width: 395px;
}
/*------------------------------------Segment 05------------------------------*/
.segment-05{
    width: 1110px;
    height: 609px;
    left: 147px;
    top: 2697px;
}
/*------------------------------------Segment 06------------------------------*/
.segment-06{
    width: 1109px;
    height: 391px;
    left: 160px;
    top: 3452px;
    border-top: solid;
    border-color: lightsteelblue;
    border-width: 1px;
}
.s6-logo{
    top: 102px;
}
.s6-text_01{
    top: 102px;
    left: 326px;
    width: 100px;
}
.s6-text_02{
    top: 102px;
    left: 571px;
    width: 132px;
}
.s6-inline{
    top: 65px;
}
.txt{
    text-decoration: none;
}
.s6-finalsquare{
    left: 784px;
    top: 102px;
}
.hidden{
    top: 0px;
    left: 0px;
    width: 280px;
    height: 57px;
    font-size: 20px;
    line-height: 30px;
}
.phone-square{
    box-sizing: border-box;
    left: 0px;
    right: 0px;
    top: 93px;  
    height: 48px;
    width: 325px;
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
}
.phone-text{
    height: 28px;
    width: 300px;
    left: 15px;
    color: #BCD0E5;
}
.phone-text:hover{
    color: white;
}
.s6-button{
    left: 0px;
    top: 160px;
    width: 131px;
    height: 39px;
}
.location{
    border: #c37272;
    border-width: 3px;
    border-style: solid;
}







/*

